@media (max-width: 1150px){
    .cardbox{
        justify-content: space-around;
    }
    .fa-bars{
        display: inline-block;
    }
    nav{
        display: none;
    }
}

@media (max-width: 800px){
    .newsbox{
        display: block;
        aligh-items: center;
    }
    .infobox{
        margin-bottom: 50px;
        margin-right: 10px;
    }
    .infobox h3, .infobox h4, .infobox p {
        text-align: center;
    }

    h5,  .p-2 {
        text-align: center;
        margin-left: 40px
    }
    .cardsbox{
        justify-content: column;
    }
}
